In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = np.loadtxt('../data/data_zero_filer_03_50.csv', delimiter = ',', skiprows = 1)

In [3]:
data.shape

(22199, 2403)

In [5]:
A= np.array([[1,2,3],[4,5,6],[7,8,9]])
A

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
np.savez('A.npz', dataset, label)

In [36]:
data_file = '../data/info.csv'
df = pd.read_csv(data_file)
df = df.loc[:,['id','nst_result']]
#label[label['nst_result']==3].loc['nst_result'] = 2
#label.where(label['nst_result'] == 3).count()
label_1 = df.where(df['nst_result']==1)
label_2 = df.where(df['nst_result']==2)
label_3 = df.where(df['nst_result']==3)
label_1.shape

(32184, 2)

In [94]:
data_file= '../data/data_zero_filer_03_50.csv'
label_file = '../data/info.csv'
data = pd.read_csv(data_file)
df = pd.read_csv(label_file)
label = df.loc[:,['id','nst_result']]
data_label = pd.merge(data, label, how = 'left', left_index = True, left_on = 'id', right_on = 'id')
data_label.loc[data_label['nst_result'] == 3, 'nst_result'] = 2
#data_label.where(data_label['nst_result'] == 3).count()

In [97]:
data_label.loc[data_label['nst_result'] == 4, 'nst_result'] = np.nan
data_label.dropna()

data_label.where(data_label['nst_result'] == 4).count()
#del data_label.iloc[nst_4[id]]

id            0
y0            0
y1            0
y2            0
y3            0
y4            0
y5            0
y6            0
y7            0
y8            0
y9            0
y10           0
y11           0
y12           0
y13           0
y14           0
y15           0
y16           0
y17           0
y18           0
y19           0
y20           0
y21           0
y22           0
y23           0
y24           0
y25           0
y26           0
y27           0
y28           0
             ..
y2373         0
y2374         0
y2375         0
y2376         0
y2377         0
y2378         0
y2379         0
y2380         0
y2381         0
y2382         0
y2383         0
y2384         0
y2385         0
y2386         0
y2387         0
y2388         0
y2389         0
y2390         0
y2391         0
y2392         0
y2393         0
y2394         0
y2395         0
y2396         0
y2397         0
y2398         0
y2399         0
y2400         0
y2401         0
nst_result    0
Length: 2404, dtype: int64

In [107]:
    data_file = '../data/data_zero_filer_03_50.csv'
    label_file = '../data/info.csv'
    data = pd.read_csv(data_file)
    print(data.shape)
    df = pd.read_csv(label_file)
    label = df.loc[:, ['id', 'nst_result']]
    data_label = pd.merge(data, label, how='left', left_index=True, left_on='id', right_on='id')
    # 把'异常型' 归入 '可疑型'
    data_label.loc[data_label['nst_result'] == 3, 'nst_result'] = 2
    # 剔除'无法判读'型
    data_label.loc[data_label['nst_result'] == 4, 'nst_result'] = np.nan
    data_label.dropna(inplace = True)
    print(data_label.shape)

(22199, 2403)
(22193, 2404)

In [112]:
data_label.drop('id', axis = 1, inplace = True)
data_label

ValueError: labels ['id'] not contained in axis

In [126]:
df = pd.DataFrame(np.arange(12).reshape(3,4),
                      columns=['A', 'B', 'C', 'D'])
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [128]:
label = pd.DataFrame(np.arange(4),columns = ['label'])
label

   label
0      0
1      1
2      2
3      3

In [131]:
np.savez('../data/A.npz', dataset = df, label = label)

In [134]:
f = np.load('../data/A.npz')
x, y = f['dataset'], f['label']
y

array([[0],
       [1],
       [2],
       [3]])